body {
  background: linear-gradient(to bottom right, #0f0f0f, #1c1c1c, #ffffff);
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  color: #FFD700;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.section-title p {
  color: #cfcfcf;
  max-width: 700px;
  margin: auto;
  line-height: 1.8;
}

.section-space {
  margin-top: 40px;
  margin-bottom: 40px;
  /* padding: 80px 0 !important; */
}

/* Navbar */
.navbar {
  background: rgba(0,0,0,0.9) !important;
  border-bottom: 1px solid rgba(255,215,0,0.2);
}

.navbar-brand,
.nav-link {
  color: #FFD700 !important;
  font-weight: 600;
  transition: 0.3s;
}

.nav-link:hover {
  color: white !important;
}

/* Hero */
.hero{
  position: relative;

  background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    /* url("../assets/img/tes.jpg"); */
    url("../assets/img/bc_hero.jpg");
    height: 400px;


    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* Profile Card */
.profile-card {
  margin-top: 30px;
  border-radius: 25px;
  overflow: hidden;

  border: 1px solid rgba(255,215,0,0.2);

  background: rgba(20,20,20,0.95);

  backdrop-filter: blur(10px);

  box-shadow: 0 10px 40px rgba(0,0,0,0.5);

  color: white;
}

/* Profile Image */
.profile-img {
  width: 150px;
  height: 150px;

  object-fit: cover;

  border-radius: 50%;
  border: 5px solid white;

  margin-top: 0px;

  background: white;

  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


h2 {
  color: #FFD700;
  font-weight: bold;
}

h4 {
  color: #FFD700;
  margin-bottom: 15px;
}

hr {
  border-color: rgba(255,255,255,0.1);
}


.card-img-top {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* Skill Badge */
.skill-badge {
  margin: 5px;
  padding: 10px 14px;

  border-radius: 30px;

  background: #FFD700;
  color: black;

  font-weight: 600;

  transition: 0.3s;
}

.skill-badge:hover {
  background: white;
  transform: scale(1.05);
}

/* List */
.list-group-item {
  background: rgba(255,255,255,0.05);
  color: white;

  border: 1px solid rgba(255,255,255,0.05);

  margin-bottom: 10px;

  border-radius: 10px !important;
}

/* Button Gold */
.btn-gold {
  background: #FFD700;
  color: black;

  border: none;

  padding: 12px 24px;

  border-radius: 30px;

  font-weight: bold;

  transition: 0.3s;
}

.btn-gold:hover {
  background: white;

  transform: translateY(-2px);

  box-shadow: 0 5px 15px rgba(255,215,0,0.4);
}

/* Contact */
.contact-box {
  background: rgba(255,255,255,0.05);

  padding: 20px;

  border-radius: 15px;

  border: 1px solid rgba(255,215,0,0.15);
}

.text-muted {
  color: #cfcfcf !important;
}



/* Button Elegant Gold Dark */
.btn-gold {
  background: linear-gradient(135deg, #8B6508, #D4AF37, #6E4F00);

  color: white;

  border: 1px solid rgba(255, 215, 0, 0.4);

  padding: 12px 28px;

  border-radius: 40px;

  font-weight: 600;
  letter-spacing: 0.5px;

  transition: all 0.3s ease;

  box-shadow:
    0 4px 15px rgba(0,0,0,0.4),
    0 0 10px rgba(255,215,0,0.15);

  text-transform: uppercase;
}

/* Hover */
.btn-gold:hover {
  background: linear-gradient(135deg, #A67C00, #FFD700, #7A5901);

  color: white;

  transform: translateY(-2px);

  box-shadow:
    0 8px 20px rgba(0,0,0,0.5),
    0 0 18px rgba(255,215,0,0.35);
}

/* Click Effect */
.btn-gold:active {
  transform: scale(0.98);
}


/* =========================
   FOOTER
========================= */

.footer-dark {
  background:
    linear-gradient(to right, #050505, #111111);

  border-top: 1px solid rgba(255,215,0,0.15);

  color: white;
}

.footer-title {
  color: #FFD700;
  font-size: 2rem;
  font-weight: bold;
}

.footer-subtitle {
  color: #FFD700;
  margin-bottom: 20px;
}

.footer-text {
  color: #cfcfcf;
  line-height: 1.8;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  color: #cfcfcf;
  text-decoration: none;

  transition: 0.3s;
}

.footer-links a:hover {
  color: #FFD700;
  padding-left: 5px;
}

.footer-line {
  border-color: rgba(255,255,255,0.08);
}

.footer-copy {
  color: #999;
  font-size: 0.95rem;
}


.footer-credit {
  color: #FFD700;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.footer-credit:hover {
  color: white;
}